Source: python3-linz-deformationmodel
Maintainer: Chris Crook <ccrook@linz.govt.nz>
Section: python
X-Python-Version: >= 3.5
Priority: optional
Build-Depends: 
  python3-all,
  python3-setuptools,
  debhelper
Standards-Version: 3.9.1

Package: python3-linz-deformationmodel
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-linz-geodetic
Description: Python LINZ DeformationModel
 Provides functions for calculating the NZGD2000 deformation model
 .
 This package installs the library for Python 3.
